version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pdf2sentence-dev
    # ホストのコード変更を即時反映
    volumes:
      - ./src:/src
      - ./requirements.txt:/requirements.txt
    working_dir: /src
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    tty: true
